@charset "utf-8";
/* CSS Document */

html, body, .box-body, .box-body>div{ 
    width:100%;
    height:100%;
    overflow-x:hidden;
}
img{ 
    width:100%!important;
    height:100%!important;
}
#ng-map {
    display: block;

}
.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
#NG-BE
{
    fill: orange !important;
}
#NG-KO{
    fill: green !important;
}
#NG-FC{
    fill: #000 !important;
}
#NG-KD{
    fill: red !important;
}

path:hover, circle:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}